.counter p {
    font-size: 45px;
}

.counter button {
    margin: 0 15px;
    width: 300px;
    font-size: 50px;
    border: none;
    background-color: rgb(105, 89, 250);
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    outline: none;
}